.imgConatainer {
    width: 100%;
    height: 900px;
    position: relative;
    margin: 0px auto;
}

.img {
    width: 100%;
    height: 900px;
    padding: 0px 85px 85px 85px;
    object-fit: content;
}

.myHeaderSwiper .swiper-pagination-horizontal {
    position: absolute;
    right: -140px !important;
    color: white !important;
    bottom: 15px;
}

.myHeaderSwiper .swiper-pagination {
    position: absolute;
    right: -150px !important;
}

.myHeaderSwiper .swiper-pagination-bullets-dynamic {
    padding: 5px;
    width: 300px !important;
    rotate: 90deg;
}

.myHeaderSwiper .swiper-pagination-bullet {
    margin: 0px 10px !important;
}

.myHeaderSwiper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 90%;
    transform: translateX(-135%);
    white-space: nowrap;
}

.myHeaderSwiper .swiper-button-prev {
    bottom: 20px;
    left: 85px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 500;
}

.myHeaderSwiper .swiper-button-prev::after {
    content: "Previous Slide";
}

.myHeaderSwiper .swiper-button-prev::before {
    width: 51px;
    background-image: url('/leftIcon.png');
}

.myHeaderSwiper .swiper-button-next {
    bottom: 20px;
    right: 10px;
    font-size: 15px;
    font-weight: 500;
}

.myHeaderSwiper .swiper-button-next::before {
    content: "Next Slide";
}

.myHeaderSwiper .swiper-button-next::after {
    width: 51px;
    background-image: url('/rightIcon.png');
}

@media only screen and (max-width: 600px) {
    .imgConatainer {
        height: 260px;
    }

    .img {
        height: 260px;
        padding: 10px 0px 30px 0px;
    }

    .myHeaderSwiper .swiper-pagination-bullets-dynamic {
        padding: 2px;
        width: 120px !important;
    }

    .myHeaderSwiper .swiper-pagination-bullet {
        margin: 0px 5px !important;
    }

    .myHeaderSwiper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 80%;
        transform: translateX(-85%);
    }

    .myHeaderSwiper .swiper-button-prev {
        bottom: -30px;
        left: 20px;
    }

    .myHeaderSwiper .swiper-button-prev::after {
        content: "";
    }

    .myHeaderSwiper .swiper-button-prev::before {
        width: 21px;
    }

    .myHeaderSwiper .swiper-button-next {
        bottom: -30px;
        right: -150px;
    }

    .myHeaderSwiper .swiper-button-next::before {
        content: "";
    }

    .myHeaderSwiper .swiper-button-next::after {
        width: 21px;
    }

}