.container {
    max-width: 1224px;
    margin: 0 auto;
 }
 
 img {
    width: 500px;
    object-fit: contain;
    border-radius: 15px;
 }
 
 .gallery-container {
   column-count: 3;
   column-gap: 20px 20px;
   width: 1200px;
  }
  
  figure {
   margin: 0;
   display: inline-block;
   margin-bottom: 10px;
   width: 100%;
  }