.myReviewSwipper {
    padding-bottom: 120px;
    margin-top: 20px;
    padding-top: 100px;
}


.myReviewSwipper .swiper-slide-active {
    transform: scale(1.2);
}

.myReviewSwipper .swiper-pagination-bullets-dynamic {
    padding: 5px;
    width: 250px !important;
    rotate: 180deg;
    margin-bottom: -20px;
}

.myReviewSwipper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0px 5px !important;
    background-color: white;
}

.myReviewSwipper .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 30%, rgba(9, 9, 9, 0) 70%);
    transform: scale(1.1);
    border: 1px solid white;
}

.myReviewSwipper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 40%;
    transform: translateX(-10%);
    white-space: nowrap;
}

.myReviewSwipper .swiper-button-prev {
    position: absolute;
    bottom: 0px;
    left: 150px;
    z-index: 999;
    width: 200px;
    color: rgba(255, 255, 255, 0.509);
    cursor: pointer;
}

.myReviewSwipper .swiper-button-prev::after {
    content: "";
}

.myReviewSwipper .swiper-button-prev::before {
    display: inline-block;
    width: 140px;
    height: 51px;
    background-image: url('/leftBtn.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.myReviewSwipper .swiper-button-next {
    position: absolute;
    bottom: 0px;
    right: 70px;
    z-index: 999;
    width: 200px;
    color: rgba(255, 255, 255, 0.509);
    cursor: pointer;
}

.myReviewSwipper .swiper-button-next::before {
    content: "";
}

.myReviewSwipper .swiper-button-next::after {
    display: inline-block;
    width: 140px;
    height: 51px;
    background-image: url('/rightBtn.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.bgGradient1 {
    background: linear-gradient(90deg, rgba(25,25,25,1) 80%, rgba(255,255,255,0) 100%);
    z-index: 9999;
}

.bgGradient2 {
    background: linear-gradient(90deg, #ffffff00 0%, #191919 20%);
    z-index: 9999;
}