.myReviewSwipper {
    padding-bottom: 120px;
    margin-top: 20px;
    padding-top: 100px;
}

.myReviewSwipper .swiper-slide-active {
    transform: scale(1.2);
}

.myReviewSwipper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 40%;
    transform: translateX(-10%);
    white-space: nowrap;
}

.myReviewSwipper .swiper-button-prev {
    bottom: 0px;
    left: 150px;
}

.myReviewSwipper .swiper-button-prev::before {
    background-image: url('/leftBtn.png');
}

.myReviewSwipper .swiper-button-next {
    bottom: 0px;
    right: 70px;
}


.myReviewSwipper .swiper-button-next::after {
    background-image: url('/rightBtn.png');
}

.bgGradient1 {
    background: linear-gradient(90deg, rgba(25, 25, 25, 1) 80%, rgba(255, 255, 255, 0) 100%);
    z-index: 9999;
}

.bgGradient2 {
    background: linear-gradient(90deg, #ffffff00 0%, #191919 20%);
    z-index: 9999;
}