.parallaxWorld .parallaxOne {
    margin-top: 130px;
    padding-top: 270px;
    padding-bottom: 270px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url("/bgi.png");
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}