.forDarkMode.commonCont {
    padding: 0px 100px 0px 0px;
    background-image: linear-gradient(to top, #191919 50%, #131313 50%);
    background-size: 100% 100%;
}

.forLightMode.commonCont {
    padding: 0px 100px 0px 0px;
    background-image: linear-gradient(to top, #EFEFEF 50%, white 50%);
    background-size: 100% 100%;
}

.commonImgCont {
    width: 100%;
    height: 695px;
}

.commonImgCont .commonImg {
    width: 100%;
    height: 695px;
    object-fit: content;
}

.headsetPTitle {
    font-size: 120px;
    line-height: 110px;
    overflow: hidden;
}

.HeadsetSTitle {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 40px;
}

@media only screen and (max-width: 600px) {

    .forDarkMode.commonCont {
        padding: 0px;
    }
    
    .forLightMode.commonCont {
        padding: 0px;
    }

    .commonCont {
        padding: 0;
    }

    .commonImgCont {
        height: 211px;
    }

    .commonImgCont .commonImg {
        width: 100%;
        height: 211px;
    }

    .headsetPTitle {
        font-size: 60px;
        line-height: 50px;
        margin-left: 10px;
    }

    .HeadsetSTitle {
        font-size: 30px;
        line-height: 30px;
        margin-left: 10px;

    }
}


/* Gallery Layout */


.img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

/* Main CSS */
.grid-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper .wide {
    grid-column: span 2;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}