.myLatestSwipper {
    padding-bottom: 100px;
}

.myLatestSwipper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 28%;
    transform: translateX(-10%);
    white-space: nowrap;
}

.myLatestSwipper .swiper-button-prev {
    bottom: 0px;
    left: 100px;
}

.myLatestSwipper .swiper-button-prev::before {
    background-image: url('/leftBtn.png');
}

.myLatestSwipper .swiper-button-next {
    bottom: 0px;
    right: 480px;
}

.myLatestSwipper .swiper-button-next::after {
    background-image: url('/rightBtn.png');
}

@media only screen and (max-width: 600px) {
    .myLatestSwipper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 10%;
        transform: translateX(-10%);
    }
    .myLatestSwipper .swiper-button-prev::before {
        display: none;
    }
    .myLatestSwipper .swiper-button-next::after {
        display: none;
    }

}