.myReviewSwipper {
    padding-bottom: 120px;
    margin-top: 20px;
    padding-top: 100px;
}

/* for line pagination start*/

.forDarkMode.myReviewSwipper .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    width: 24px;
    height: 4px !important;
    border-radius: 0 !important;
    margin: 0px 5px !important;
    background-color: #fff;
}

.forLightMode.myReviewSwipper .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    width: 24px;
    height: 4px !important;
    border-radius: 0 !important;
    margin: 0px 5px !important;
    background-color: #000;
}

/* for line pagination end */

.myReviewSwipper .swiper-slide-active {
    transform: scale(1.2);
}

.myReviewSwipper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 40%;
    transform: translateX(-10%);
    white-space: nowrap;
}

.myReviewSwipper .swiper-button-prev {
    bottom: 0px;
    left: 150px;
}

.forDarkMode.myReviewSwipper .swiper-button-prev::before {
    background-image: url('/leftBtn.png');
}

.forLightMode.myReviewSwipper .swiper-button-prev::before {
    background-image: url('/leftBtnDark.png');
}

.myReviewSwipper .swiper-button-next {
    bottom: 0px;
    right: 70px;
}


.forDarkMode.myReviewSwipper .swiper-button-next::after {
    background-image: url('/rightBtn.png');
}

.forLightMode.myReviewSwipper .swiper-button-next::after {
    background-image: url('/rightBtnDark.png');
}


@media only screen and (max-width: 600px) {
    .myReviewSwipper {
        padding-bottom: 80px;
        margin-top: 0px;
        padding-top: 100px;
    }

    .myReviewSwipper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 15%;
    }

    .myReviewSwipper .swiper-button-prev::before {
        display: none;
    }

    .myReviewSwipper .swiper-button-next::after {
        display: none;
    }

}