.myPublicSwipper {
    padding-bottom: 120px;
}


.myPublicSwipper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-10%);
    white-space: nowrap;
}

.myBlogSwipper .swiper-button-prev,
.myPublicSwipper .swiper-button-prev {
    bottom: 0px;
    left: 400px;
}

.myPublicSwipper .swiper-button-prev::before {
    background-image: url('/leftBtn.png');
}

.myPublicSwipper .swiper-button-next {
    bottom: 0px;
    right: 70px;
}

.myPublicSwipper .swiper-button-next::after {
    background-image: url('/rightBtn.png');
}