.bestOneImgContainer {
    width: 575px;
    height: 488px;
    position: relative;
}

.bestOneImg {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: content;
}

@media only screen and (max-width: 600px) {
    .bestOneImgContainer {
        width: 220px;
        height: 200px;
    }

}