.myBlogSwipper {
    padding-bottom: 120px;
}


/* Full Common */
/* .myBlogSwipper .swiper-pagination-bullets-dynamic {
    padding: 5px;
    width: 250px !important;
    rotate: 180deg;
    margin-bottom: -20px;
} */

/* Full Common */
/* .myBlogSwipper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0px 5px !important;
    background-color: white;
} */

/* Full Common */
/* .myBlogSwipper .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 30%, rgba(9, 9, 9, 0) 70%);
    transform: scale(1.1);
    border: 1px solid white;
} */

.myBlogSwipper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 40%;
    transform: translateX(-10%);
    white-space: nowrap;
}

.myBlogSwipper .swiper-button-prev {
    bottom: 0px;
    left: 120px;

    /* position: absolute;
    z-index: 999;
    width: 200px;
    color: rgba(255, 255, 255, 0.509);
    cursor: pointer; */
}

/* .myBlogSwipper .swiper-button-prev::after {
    content: "";
} */

.myBlogSwipper .swiper-button-prev::before {
    /* display: inline-block;
    width: 140px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5; */

    background-image: url('/leftBtn.png');
}

.myBlogSwipper .swiper-button-next {
    /* position: absolute;
    z-index: 999;
    width: 200px;
    color: rgba(255, 255, 255, 0.509);
    cursor: pointer; */

    bottom: 5px;
    right: 100px;
}

/* .myBlogSwipper .swiper-button-next::before {
    content: "";
} */

.myBlogSwipper .swiper-button-next::after {
    /* display: inline-block;
    width: 140px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat; */

    background-image: url('/rightBtn.png');
}