.myBlogSwipper {
    padding-bottom: 120px;
}

.myBlogSwipper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 40%;
    transform: translateX(-10%);
    white-space: nowrap;
}

.myBlogSwipper .swiper-button-prev {
    bottom: 0px;
    left: 120px;

}

.myBlogSwipper .swiper-button-prev::before {
    background-image: url('/leftBtn.png');
}

.myBlogSwipper .swiper-button-next {
    bottom: 5px;
    right: 100px;
}

.myBlogSwipper .swiper-button-next::after {
    background-image: url('/rightBtn.png');
}