.container {
    padding: 0px;
    margin-top: 9px;
    padding-bottom: 30px;
    background-image: linear-gradient(to top, #191919 50%, #131313 50%);
    background-size: 100% 100%;
}

.textStrock {
    color: transparent;
    font-size: 35px;
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #bbb;
}
