.myPublicSwipper {
    padding-bottom: 120px;
}


.myPublicSwipper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-10%);
    white-space: nowrap;
}


.myPublicSwipper .swiper-button-prev {
    bottom: 0px;
    left: 400px;
}

.forDarkMode.myPublicSwipper .swiper-button-prev::before {
    background-image: url('/leftBtn.png');
}

.forLightMode.myPublicSwipper .swiper-button-prev::before {
    background-image: url('/leftBtnDark.png');
}

.myPublicSwipper .swiper-button-next {
    bottom: 0px;
    right: 70px;
}


.forDarkMode.myPublicSwipper .swiper-button-next::after {
    background-image: url('/rightBtn.png');
}

.forLightMode.myPublicSwipper .swiper-button-next::after {
    background-image: url('/rightBtnDark.png');
}


@media only screen and (max-width: 600px) {
    .myPublicSwipper {
        padding-bottom: 60px;
    }

    .myPublicSwipper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 15%;
        transform: translateX(-10%);
    }

    .myPublicSwipper .swiper-button-prev::before {
        display: none;
    }

    .myPublicSwipper .swiper-button-next::after {
        display: none;
    }
}